<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="techtake.Properties.Settings.techtakeConnectionString"
            connectionString="server=localhost;user id=root;database=techtake"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>